<div class="cont" id="changePassword">
  {{! <div class="changePassword-container" > }}
  <p class="title">Đổi mật khẩu</p>

  <form action="/changePassword" method="POST" class="change-password-form">
   <div class="row mb-3">
      <label for="inputPassword1" class="form-label">Nhập mật khẩu cũ</label>
      <div>
        <input
          type="password"
          class="form-control"
          name="oldPassword"
          id="inputPassword1"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword2" class="form-label">Nhập mật khẩu mới</label>
      <div>
        <input
          type="password"
          class="form-control"
          name="newPassword"
          id="inputPassword2"
        />
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword3" class="form-label">Xác nhận mật khẩu</label>
      <div>
        <input
          type="password"
          class="form-control"
          name="confirmPassword"
          id="inputPassword3"
        />
      </div>
      {{!-- <span class="form-text alert alert-danger" style="text-shadow: none;">{{message}}</span> --}}
      <div style="text-align: center;color: red;font-weight: 700; margin:2rem auto;">{{message}}</div>
    </div>
    <div style="width: 100%; text-align:center">
      <a href="/" class="btn btn-secondary" style="margin-right: 1rem;">Quay lại</a>
      <button type="submit" class="btn btn-primary">Đổi</button>
    </div>
    
  </form>
  {{! </div> }}
</div>